# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [3]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")
conn = engine.connect()

In [4]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [5]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [13]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()
print(df.dtypes)

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [14]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'], format = "%Y-%m-%d")
print(df)
print(df.dtypes)

           station       date  prcp  tobs
0      USC00519397 2010-01-01  0.08    65
1      USC00519397 2010-01-02  0.00    63
2      USC00519397 2010-01-03  0.00    74
3      USC00519397 2010-01-04  0.00    76
4      USC00519397 2010-01-06   NaN    73
...            ...        ...   ...   ...
19545  USC00516128 2017-08-19  0.09    71
19546  USC00516128 2017-08-20   NaN    78
19547  USC00516128 2017-08-21  0.56    76
19548  USC00516128 2017-08-22  0.50    76
19549  USC00516128 2017-08-23  0.45    76

[19550 rows x 4 columns]
station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [21]:
# Set the date column as the DataFrame index
new_df = df.set_index("date").sort_index(ascending=True)


print(new_df)

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-01  USC00518838  0.21    72
2010-01-01  USC00519523  0.15    75
2010-01-01  USC00519281  0.15    70
2010-01-01  USC00511918  0.05    66
...                 ...   ...   ...
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00519397  0.00    81
2017-08-23  USC00514830  0.00    82
2017-08-23  USC00519523  0.08    82
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [26]:
# Drop the date column
new_df.drop(['date'])

KeyError: "['date'] not found in axis"

### Compare June and December data across all years

In [17]:
from scipy import stats

In [18]:
# Create a Session Object to Connect to DB
# ----------------------------------
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [27]:
# Filter data for desired months

June_temp = session.query(df.date, new_df.tobs).\
filter(func.strftime("%m", df.date) == '06').all()
December_temp = session.query(df.date, new_df.tobs).\
filter(func.strftime("%m", df.date) == '12').all()
June_temp
# # store the data into dataframe and rename the columns
june_df = pd.DataFrame(june_temp, columns=["Date", "Temperature"])
december_df = pd.DataFrame(december_temp, column=["Date", "Temperature"])
june_df["Month"] = "June"
december_df["Month"] = "December"

ArgumentError: Column expression or FROM clause expected, got 0       2010-01-01
1       2010-01-02
2       2010-01-03
3       2010-01-04
4       2010-01-06
           ...
19545   2017-08-19
19546   2017-08-20
19547   2017-08-21
19548   2017-08-22
19549   2017-08-23
Name: date, Length: 19550, dtype: datetime64[ns].

In [ ]:
# Identify the average temperature for June

In [ ]:
# Identify the average temperature for December

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis